body {
  margin: 0;
}

#hero {
  position: relative;
  background: #333;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#hero-cta {
  position: absolute;
  bottom: 10%;
  right: 50%;
  padding: 8px 24px;
  background: none;
  outline: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Anonymous Pro', monospace;
  font-size: 22px;
  letter-spacing: 1px;
}

#side-tracker {
  position: absolute;
  right: 0;
  top: 2%;
}

#hero-text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: fit-content;
  margin: auto;
  padding: 32px;
  width: 50%;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
  transition: 0.5s all ease;
  transition-delay: 2.5s;
}

.hero-text-container--show {
  opacity: 1 !important;
}

#hero-text-container h1 {
  text-transform: uppercase;
}

#hero-text-container p {
  line-height: 24px;
}

#hero-text-container label {
  width: 100%;
}

#hero-text-container input {
  width: 300px;
  /*background: none;*/
  border: none;
}

#hero-text-container input::before {
  content: '>';
}